@font-face {
  font-family: 'cart';
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910');
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910#iefix') format('embedded-opentype'), url('++resource++bda.plone.cart.font/font/cart.woff2?73721910') format('woff2'), url('++resource++bda.plone.cart.font/font/cart.woff?73721910') format('woff'), url('++resource++bda.plone.cart.font/font/cart.ttf?73721910') format('truetype'), url('++resource++bda.plone.cart.font/font/cart.svg?73721910#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="cart-icon"]:before,
[class*=" cart-icon"]:before {
  font-family: "cart";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
/* general styles */
.cart_item_alert {
  color: red;
  font-weight: normal;
}
/* cart styles */
.cart_item_content {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0;
  text-align: right;
}
.discount_net,
.discount_vat,
.discount_total,
.cart_item_discount {
  color: red;
}
.cart_item_content input[type="text"] {
  display: inline-block;
  width: unset;
  margin-right: 0.25em;
}
.cart-icon {
  font-family: 'cart';
  font-size: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  margin-left: 0.25em;
}
.cart-icon:hover {
  text-decoration: none;
}
a.update_cart_action:before {
  content: '\e801';
}
a.remove_from_cart_action {
  margin-left: 0;
}
a.remove_from_cart_action:before {
  content: '\e80a';
}
.cart_item_preview_image {
  float: right;
  margin-left: 1em;
}
/* cart summary styles */
.summary_item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
.summary_item ul.cart_item_content {
  list-style-type: none !important;
  margin: 0!important;
}
.summary_item ul.cart_item_content li {
  display: inline-block !important;
}
.summary_item ul.cart_item_content li span {
  display: inline-block;
}
.summary_item a:hover {
  border: none;
  text-decoration: none;
}
#cart_summary .cart_sum_content.invisible-grid {
  width: 100%;
  text-align: right;
  margin-top: 1em;
}
#cart_summary .cart_sum_content.invisible-grid td {
  padding-left: 0.25em;
}
#cart_summary .cart_sum_content.invisible-grid td.summary_label {
  width: 95%;
}
#cart_summary .cart_sum_content.invisible-grid td.summary_ammount {
  padding-left: 1em;
}
.shipping_info {
  max-width: 400px;
  display: inline-block;
}
.cart_summary_buttons {
  text-align: right;
}
.cart_summary_buttons .cart_back {
  float: left;
}
ul#cart_items {
  list-style-type: none;
  padding: 0;
}
ul#cart_items .cart_item_preview_image {
  float: none;
  margin-left: 0;
  vertical-align: text-bottom;
}
ul#cart_items .cart_item_preview_wrapper:hover {
  text-decoration: none;
  border: none;
}
ul#cart_items h3 {
  font-size: 14px;
  margin-top: 0.5em;
}
#cart_viewlet {
  float: right;
  position: relative;
}
#portlet-cart .cart_item,
#cart_viewlet .cart_item {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
}
#portlet-cart .cart_item_content,
#cart_viewlet .cart_item_content {
  text-align: left;
}
#portlet-cart .cart_item_content .cart_item_count,
#cart_viewlet .cart_item_content .cart_item_count {
  height: unset;
  padding: 0em 0.25em;
  text-align: right;
}
#portlet-cart .cart_item_price_wrapper,
#cart_viewlet .cart_item_price_wrapper {
  text-align: right;
}
#portlet-cart .cart_item_discount_wrapper,
#cart_viewlet .cart_item_discount_wrapper {
  text-align: right;
}
#portlet-cart .cart_viewlet_actions,
#cart_viewlet .cart_viewlet_actions,
#portlet-cart .portletFooter,
#cart_viewlet .portletFooter {
  text-align: center;
}
#portlet-cart #cart_viewlet_summary,
#cart_viewlet #cart_viewlet_summary {
  display: block;
  padding: 0 0.5em;
}
#portlet-cart #cart_viewlet_summary a,
#cart_viewlet #cart_viewlet_summary a {
  margin-top: 5px;
  float: right;
  position: relative;
  z-index: 10;
  top: 0px;
  right: 0px;
}
#portlet-cart #cart_viewlet_details,
#cart_viewlet #cart_viewlet_details {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 1em;
  margin-top: 2em;
  border: 1px solid #e5e5e5;
  border-radius: 0.25em;
  min-width: 260px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
#portlet-cart .cart_viewlet_actions,
#cart_viewlet .cart_viewlet_actions {
  text-align: center;
}
.checkout_cart_overview .cart_item {
  margin-bottom: 1em;
}
/* cart status message */
.cart_status_message {
  display: block;
  position: absolute;
  margin-top: -6em;
  margin-right: 10em;
  z-index: 1000;
  border: #cccccc 1px solid;
  border-radius: 3px;
  background-color: #efefef;
  color: #222222;
  padding: 5px;
  font-size: 80%;
  font-weight: bold;
}
/* cart summary styles */
.summary_item {
  padding-top: 1.2em;
  padding-bottom: 0.6em;
  border-bottom: #ccc 1px solid;
}
.summary_item ul.cart_item_content {
  list-style-type: none !important;
  text-align: right;
  margin: 0!important;
}
.summary_item ul.cart_item_content li {
  display: inline !important;
  padding-left: 0.5em;
}
.summary_item .price {
  width: 7em;
  display: inline-block;
}
.summary_item input.cart_item_count,
.portletCart input.cart_item_count {
  margin-right: 0.1em;
}
.summary_item span.cart_item_quantity_unit {
  margin-right: 0.5em;
}
.summary_item a.update_cart_action,
.summary_item a.remove_from_cart_action {
  float: none;
}
.summary_wrapper {
  text-align: right;
}
.cart_sum_content {
  float: right;
}
.cart_sum_content td {
  text-align: right;
  padding-left: 1em;
}
.cart_summary_buttons {
  text-align: right;
  padding-top: 1.2em;
}
.portletCart .lastItem {
  text-align: center;
}
img.cart_item_preview_image {
  float: right;
  margin-left: 0.5em;
}
.context.cart_checkout_button:after {
  font-family: 'cart';
  content: '\e812';
  margin-left: 0.5em;
}
.standalone.cart_back:before {
  font-family: 'cart';
  content: '\e811';
  margin-right: 0.5em;
}
.context.buyable_add_to_cart:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}
.context.buyable_update_cart:before {
  font-family: 'cart';
  content: '\e801';
  margin-right: 0.5em;
}
.context.go_to_cart_action:before,
#cart_viewlet_summary a:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}


.cart-table {
  padding-top: 20px;
}

.cart-table table {
  border: 0px !important;
}

.cart-table td {
  text-align: left;
}

.cart-table table > thead > tr > th {
  border:0px;
}

.cart-table table > thead > tr > th {
  border:0px;
}

.cart-table table > thead > tr > th, 
.cart-table table > tbody > tr > th, 
.cart-table table > tfoot > tr > th, 
.cart-table table > thead > tr > td, 
.cart-table table > tbody > tr > td, 
.cart-table table > tfoot > tr > td {
  border:0px;
}

.cart-table select.cart_item_count {
  width: 100%;
}

.cart-table th.subtotal-th,
.cart-table td.subtotal-col {
  text-align: right;
}

.cart-table h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.cart-table table > thead > tr > th, 
.cart-table table > tbody > tr > th, 
.cart-table table > tfoot > tr > th, 
.cart-table table > thead > tr > td, 
.cart-table table > tbody > tr > td, 
.cart-table table > tfoot > tr > td {
  padding: 15px;
}

#form-checkout h2:first-child {
    display: none !important;
}

#field-checkout-personal_data-company {
  display: none;
}

#field-checkout-personal_data-woonplaats {
  display: none;
}

#form-checkout.mode_edit {
  padding-top: 40px;
}

#tag-checkout-payment_selection-heading {
  display: none;
}

#field-checkout-payment_selection-payment {
  display: none;
}

#field-checkout-personal_data-country {
  clear: both;
}

#field-checkout-personal_data-phone {
  clear: both;
}

#input-checkout-personal_data-country {
  width: 100%;
}

#input-checkout-personal_data-email {
  width: 100%;
}

#input-checkout-personal_data-phone {
  width: 100%;
}

@media (min-width: 992px) {
  #input-checkout-personal_data-country {
    width: 434px;
  }

  #input-checkout-personal_data-email, #input-checkout-personal_data-phone {
    width: 434px;
  }
}

#form-checkout h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 0.1em solid #bbb;
}

#input-checkout-next, #input-checkout-finish {
  float: none;
  margin-left: 1em;
}

label[for='input-checkout-payment_method_selection-payment_method-ideal'] {
    height: 40px;
    background-image: url(http://teylersmuseum-stage.intk.com/++resource++plonetheme.museumbase.css/payment_icons.png);
    background-repeat: no-repeat;
    background-position: 25px -69px;
}

label[for='input-checkout-payment_method_selection-payment_method-creditcard'] {
    height: 40px;
    background-image: url(http://teylersmuseum-stage.intk.com/++resource++plonetheme.museumbase.css/payment_icons.png);
    background-repeat: no-repeat;
    background-position: 25px -227px;
}

#input-checkout-payment_method_selection-payment_method-creditcard {
    margin-right: 65px !important;
    vertical-align: middle;
    height: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}


#input-checkout-payment_method_selection-payment_method-ideal {
    margin-right: 65px !important;
    vertical-align: middle;
    height: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

#form-checkout .cart_item.disable {
  display: none;
}

.template-checkout .mode_display .checkout_cart_overview {
    border: 0px solid #e5e5e5;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: none;
    padding: 0;
    background: none;
}

#content div.tickets-breadcrumbs a.btn.selected {
    background: #666666 !important;
    cursor: pointer;
    pointer-events: none;
    color: #e5e5e5;
}

body.template-checkout article#content {
  padding-top: 30px;
}

body.template-etickets #content-header,
body.template-etickets #above-content-wrapper,
body.template-etickets #mainnavigation-wrapper,
body.template-etickets #content > h1.documentFirstHeading,
body.template-etickets #portal-footer-wrapper {
  display: none;
}

body.template-etickets {
  background: #ffffff;
}

body.template-etickets #ticket-footer,
body.template-etickets #ticket-header {
  padding: 15px;
}

body.template-etickets td.ticket-info {
  width: 50%;
}

body.template-etickets .summary_item {
  border-bottom: 0px;
}

body.template-etickets #ticket-footer > div {
  padding-top: 10px;
}

body.template-etickets table {
  color: #4d4d4d;
  font-weight: 500;
}

body.template-etickets h5 {
  font-weight: 500;
}

body.template-etickets .tickets-title h1 {
  margin-top: 0px;
}

body.template-etickets #ticket-header {
}

body.template-etickets .portletCalendar {
  display: none !important;
}



.ticket-item {
  padding-top: 20px;
}

.ticket-item table {
  border: 0px !important;
}

.ticket-item td {
  text-align: left;
}

.ticket-item table > thead > tr > th {
  border:0px;
}

.ticket-item table > thead > tr > th {
  border:0px;
}

.ticket-item table > thead > tr > th, 
.ticket-item table > tbody > tr > th, 
.ticket-item table > tfoot > tr > th, 
.ticket-item table > thead > tr > td, 
.ticket-item table > tbody > tr > td, 
.ticket-item table > tfoot > tr > td {
  border:0px;
}

.ticket-item select.cart_item_count {
  width: 50%;
}

.ticket-item th.subtotal-th,
.ticket-item td.subtotal-col {
  text-align: right;
}

.ticket-item h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.ticket-item table > thead > tr > th, 
.ticket-item table > tbody > tr > th, 
.ticket-item table > tfoot > tr > th, 
.ticket-item table > thead > tr > td, 
.ticket-item table > tbody > tr > td, 
.ticket-item table > tfoot > tr > td {
  padding: 15px;
}

.separator_template {
  background: #fafafa;
}

.separator_template h3 {
  color: #4d4d4d;
}

.cart-header th > h4 {
  color: #4d4d4d;
  font-weight: 500;
}

body.template-cart h4 {
  font-size: 16px;
}

body.template-cart .portletCalendar {
  display: none;
}

/*.template-cart .sidebar-offcanvas {
  display: none;
}

.template-cart #main-container > .col-sm-9 {
  width: 100%;
}*/

.event-listing h1 {
  display: none !important;
}

.event-listing .cal_date {
  display: none !important;
}

.event-listing div.cal_info {
  margin-left: 0px !important;
}

.event-listing h2 {
  font-size: 15px;
  margin-top: 0px;
}

.event-listing li.category,
.event-listing .event_ical {
  display: none !important;
}

.ploneCalendar td.today {
    background-color: #eee;
    border-color: #eee;
}


.ploneCalendar td.today.selected {
    background-color: white;
    border-color: #205C90;
}


/* Timeslots */
.table-time .time-free {
    color: #7ED321;
}

.table-time .time-row {
    margin-top: -1px;
    margin-right: -1px;
    border: 1px solid #E7E7E7 !important;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    width: 33%;
    float: left;
    text-decoration: none;
}

.portletCalendar a.time-row:hover,
.portletCalendar a.time-row:active,
.portletCalendar a.time-row:focus {
  border: 1px solid #E7E7E7 !important;
}

.portletCalendar a.time-row:not(.time-ua):focus {
  color: #7ED321 !important;
}

.table-time {
    overflow: hidden;
    width: 100%;
    padding: 1px 0 0 0;
}

.table-time .time-active {
    background: #007C92 !important;
    color: #FFF !important;
}

.table-time .time-ua {
    color: #E7E7E7 !important;
    cursor: default !important;
}

.recurrent-event.disable {
  display: none !important;
}


body.template-mollie_payment_success .portletCalendar {
  display: none !important;
}

td.type-ticket-td {
  width: 80%;
}

body.template-checkout .portletCalendar {
  display: none !important;
}






/*# sourceMappingURL=++resource++bda.plone.cart.css.map */